<div id="modal-criar" class="modal--criar animate">
    <span class="close">&times;</span>
    <form action="" method="post">
        <div class="modal--filro--conteudo">
            <div class="grid-header">
                <h3>Informaçõoes do Pacote</h3>
            </div>
            <div class="grid-titulo">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="" placeholder="AQUI">
            </div>
            <div class="grid-div-2">
                <div class="ajusta-celula">
                    <label for="localizacao">Localização</label>
                    <input type="text" id="localizacao" name="localizacao" value="" placeholder="AQUI">
                </div>
                <div class="ajusta-celula">
                    <label for="pais">País</label>
                    <input type="text" id="pais" name="pais" value="" placeholder="AQUI">
                </div>
            </div>
            <div class="grid-div-4">
                <div class="ajusta-celula">
                    <label for="dias">Duração(Dias)</label>
                    <input type="text" id="dias" name="dias" value="" placeholder="AQUI">
                </div>
                <div class="ajusta-celula">
                    <label for="preco">Preço</label>
                    <input type="text" id="preco" name="preco" value="" placeholder="AQUI">
                </div>
                <div class="ajusta-celula">
                    <label for="avaliacao">Avaliação</label>
                    <input type="text" id="avaliacao" name="avaliacao" value="" placeholder="AQUI">
                </div>
                <div class="ajusta-celula">
                    <div>
                        <input type="checkbox" name="" id="" >
                        <input type="checkbox" name="" id="" >
                    </div>
                </div>
            </div>
            <div class="grid-img">
                <label for="imagem">Imagem URL</label>
                <input type="text" id="imagem" name="imagem" value="" placeholder="AQUI">
            </div>
            <div class="grid-detalhes">
                <label for="descricao">Descrição do Produto</label>
                <input type="text" id="descricao" name="descricao" value="" placeholder="AQUI">
            </div>
        </div>
        <button type="submit">Criar</button>
    </form>
    
</div>
<script>
    var criar = document.querySelector('#criar');
    var spanCriar= document.getElementsByClassName('close')[0];

    // Abrir Modal 
    criar.addEventListener('click', ()=>{
        console.log('abrindo modal');
        var modalCriar = document.querySelector('.modal--criar');
        modalCriar.style.display = 'block';
        
    })
    // Fechar Modal
    spanCriar.addEventListener('click', ()=>{
        console.log('fechando modal');
        var modalCriar = document.querySelector('.modal--criar');
        modalCriar.style.display = 'none';
    })
</script>