<div id="modal-deletar" class="modal--deletar animate">
    <div class="acesso--deletar">
        <span class="close">&times;</span>
        <div class="header--deletar">
            <h1>Deseja deletar pacote?</h1>
            <h5>Ação não pode ser desfeita!</h5>
        </div>
        
        <div class="deletar--form">
            <form action="" method="post">
                <button type="submit">Sim</button>
                <button type="submit">Não</button>
            </form>
        </div>
    </div>
</div>
<script>
    var deletar = document.querySelector('#deletar');
    var spandeletar = document.getElementsByClassName('close')[2];

    // Abrir Modal 
    deletar.addEventListener('click', ()=>{
        var modaldeletar = document.querySelector('.modal--deletar');
        modaldeletar.style.display = 'flex';
        modaldeletar.style.flexDirection = 'column';
        modaldeletar.style.justifyContent = 'center';
        modaldeletar.style.alignItems = 'center';
        
    })
    // Fechar Modal
    spandeletar.addEventListener('click', ()=>{
        var modaldeletar = document.querySelector('.modal--deletar');
        modaldeletar.style.display = 'none';
    })
</script>