<div id="modal-filtro" class="modal--filtro animate">
    <div class="modal--conteudo">
        <span class="close">&times;</span>
        <form action="" method="get">
            <div class="selecionar--pais">
                <label for="">País</label>
                <select name="" id="">
                    <option value="">Selecione</option>
                </select>
            </div>
            
            <div class="slidecontainer">
                <div>
                    <label for="">Preço</label>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                
            </div>
            
            <div class="valores-min-max">
                <div id="min" class="min">
                    <label for="">Mínimo</label>
                    <input type="text">
                </div>
                <div id="max" class="max">
                    <label for="">Máximo</label>
                    <input type="text">
                </div>
            </div>
            
            <button class="filtrar">Filtrar</button>
            
        </form>
        
    </div>
</div>
<script>
    var filtro = document.querySelector('#filtro');
    var spanFiltro = document.getElementsByClassName('close')[0];

    // Abrir Modal 
    filtro.addEventListener('click', ()=>{
        var modalFiltro = document.querySelector('.modal--filtro');
        modalFiltro.style.display = 'block';
        
    })
    // Fechar Modal
    spanFiltro.addEventListener('click', ()=>{
        var modalFiltro = document.querySelector('.modal--filtro');
        modalFiltro.style.display = 'none';
    })
</script>