<div id="modal-login" class="modal--login animate">
    <div class="acesso--login">
        <span class="close">&times;</span>
        <div class="header--login">
            <h1>GP Turismo</h1>
            <h5>Acesso</h5>
        </div>

        
        
        <div class="login--form">
            <form action="{{url_for('home')}}" method="post">
                {{form_login.hidden_tag()}}
                <fieldset>
                    <legend>{{form_login.usuario.label}}</legend>
                    {{form_login.usuario}}
                </fieldset>
                <fieldset>
                    <legend>{{form_login.senha.label}}</legend>
                    {{form_login.senha}}
                </fieldset>
                
                
                
                {{form_login.botaoLogin}}
            </form>
        </div>
    </div>
</div>
<script>
    var login = document.querySelector('#login');
    var spanLogin = document.getElementsByClassName('close')[1];

    // Abrir Modal 
    login.addEventListener('click', ()=>{
        var modalLogin = document.querySelector('.modal--login');
        modalLogin.style.display = 'flex';
        modalLogin.style.flexDirection = 'column';
        modalLogin.style.justifyContent = 'center';
        modalLogin.style.alignItems = 'center';
        
    })
    // Fechar Modal
    spanLogin.addEventListener('click', ()=>{
        var modalLogin = document.querySelector('.modal--login');
        modalLogin.style.display = 'none';
    })
</script>