<div id="modal-login" class="modal--login animate">
    <div class="acesso--login">
        <span class="close">&times;</span>
        <div class="header--login">
            <h1>GP Turismo</h1>
            <h5>Acesso</h5>
        </div>
        
        <div class="login--form">
            <form action="" method="post">
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="senha" placeholder="Senha">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>
<script>
    var login = document.querySelector('#login');
    var spanLogin = document.getElementsByClassName('close')[1];

    // Abrir Modal 
    login.addEventListener('click', ()=>{
        var modalLogin = document.querySelector('.modal--login');
        modalLogin.style.display = 'flex';
        modalLogin.style.flexDirection = 'column';
        modalLogin.style.justifyContent = 'center';
        modalLogin.style.alignItems = 'center';
        
    })
    // Fechar Modal
    spanLogin.addEventListener('click', ()=>{
        var modalLogin = document.querySelector('.modal--login');
        modalLogin.style.display = 'none';
    })
</script>