*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/*CABEÇALHO*/


.cabecalho{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000AC0;
    padding: 0 20px;
    position: relative;
    height: 90px;
    margin: 10px 84px 0 84px;
    border-radius: 15px;
    
}

/*PONTO COMUM*/

section{
    background-color: #EFEFEF;
    margin: 10px 84px 0 84px;
    border-radius: 15px;
    padding: 20px;
    font-size: small;
}

/*MELHORES AVALIADOS*/

.melhores--avaliados{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 22px 20px;
}

.pacote{
    background-color: #538EA1;
    margin-bottom: 10px;
    display: grid;
    height: fit-content;
    width: 197px;
    position: relative;
    grid-template-rows: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    justify-content: space-around;
}
.div--image img{
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    transition: transform .5s ease;
    border-radius: 10px 10px 0px 0px;
}

.div--image img:hover{
    transform: scale(1.005);
}
.pacote--descricao{
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
}
.pacote--titulo{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}
.pacote--detalhes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
}

/*DEMAIS PACOTES*/

.demais--pacotes{
    font-size: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    flex-wrap: wrap;
    height: 540px;
    animation-name: altura;
    animation-duration: 1s;
}
.demais--pacotes::-webkit-scrollbar {
    display: none;
}



.acoes--cartao{
    margin: 8px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acoes--cartao button{
    border-style: none;
    border-radius: 15px;
    font-weight: bold;
    background-color: #000AC0;
    color: #FFFFFF;
    padding: 15px 30px;
} 


.mostrar--mais{
    background-color: #000AC0;
    align-self: center;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top: 50%;
    left: 43%;
}

/*Dropdown*/

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    top:100%;
    right: 0;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*ESTILO DOS MODAIS*/
.animate {
    animation: animatezoom 0.6s
  }
  
  @keyframes animatezoom {
    from {transform: scale(0) translate(0,0)}
    to {transform: scale(1) translate(-50%,-50%)}
  }
/*FILTRO*/
.modal--filtro{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%; /* Full width */
    max-width: 670px;
    max-height: 520px;
    height: 100%;
    padding: 60px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0);
    flex-direction: column;
}
.modal--conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    height: 100%;
}

.modal--conteudo input[type=text], select{
    height: 50px;
}

.modal--filtro form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal--filtro .selecionar--pais,
.slidecontainer > div,
.valores-min-max,
.min,
.max {
    display: flex;
    flex-direction: column;
     /* Center items vertically */
}

.valores-min-max {
    flex-direction: row;
    justify-content: space-between; /* Space between min and max sections */
}

.min input,
.max input {
    width: 100%;
}



/*LOGIN*/
.modal--login{
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    width: 100%; /* Full width */
    max-width: 670px;
    max-height: 520px;
    height: 100%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0);
    flex-direction: column;
}

.header--login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acesso--login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 400px;
    background-color: #538EA1;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login--form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    gap: 20px;
}

.login--form input[type=text], input[type=password]{
    height: 50px;
    padding-left: 5px;
    margin-bottom: 15px;
    margin: auto 20px;
    border-radius: 15px;
    border-style: none;
}
.login--form button[type=submit]{
    height: 50px;
    padding: 10px;
    border-style: none;
    background-color: #000AC0;
    color:#FFFFFF;
    margin: auto 40px;
    border-radius: 15px;
}
/* FLASH LOGIN */
.alert-container {
    margin: 10px 84px 0 84px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff3434;
}

.alert {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.alert-erro {
    color: #FFFFFF;
}

/*DETALHES*/
.modal--detalhes{
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    width: 100%; /* Full width */
    max-width: 670px;
    max-height: 520px;
    height: 100%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0);
    flex-direction: column;
    
}
.modal--filro--conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    overflow-y: scroll;
}
.modal--filro--conteudo::-webkit-scrollbar{
    display: none;
}
.modal--filro--conteudo input[type=text]{
    height: 40px;
    border: #538EA1;
}
.ajusta-celula{
    display: flex;
    flex-direction: column;
}

.grid-header, .grid-titulo, .grid-img, .grid-detalhes{
    display: grid;
    grid-template-columns: 1fr;
    
}

.grid-div-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.grid-div-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}