<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-admin.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>GP Turismo - Área Admin</title>
</head>
<body>
    <header>
        <nav>
            <h1>GP Turismo</h1>
            <h2>Área do Administrador</h2>
            
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45" fill="none">
                    <rect width="45" height="45" fill="url(#pattern0_7_39)"/>
                    <defs>
                    <pattern id="pattern0_7_39" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_7_39" transform="scale(0.0111111)"/>
                    </pattern>
                    <image id="image0_7_39" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAACJklEQVR4nO3dvW4TQRTF8ROKABIvQHjD8FGSNwCJhoKKinegQDxBIAWEl0BCogIHRVR/tNJECijYa2dnfXxyf/2O5x6tZm3P1axUSimllFJKKQmA28AT4CNwxu44a3N+BOzLGfAA+MLuOx1qkfGdnBDyhc+Wd3ZbLtI8lBvghDwf5AZYkGchN4SSG0LJDaHkhlByQyi5IZTcEEpuCCU3hJIbQskNoeSGUHJDKLkhlNwQSm4IpXG13wVetw3e78CLYWuvgp4+6CHkf73rEjahtLruvSW7S9OHTSiNq/3nkiGmDZtQGlf7yxXDTBc2oTS+p2UIs3/YhNL4+veBtyuGew/cqaCvsObN1j9sQmn9HPqGTShtlkW/sAmlDXULm1C6hi5hM6/fwFPg4DpBGNU1/qsf8zrqHfAW6nruNqHB/e4Jz1/XN7cJMceSsYW6vrpNKHXpeOY2oYuH4VE9DIPohn+9m41VyBX03+on+Aa0pvpTaUNWIbcPiSSnkG960NRW1mxBv1oxTG3OrjIi5FvAryVDVLvBhEGf/+fyaqCZeOl4c8Wl1RLWIeh7Lezz1h42NNRUk+PUQV8KfE+9EUpuCCU3hJIbQskNoeSGUHJDKLkhlNwQSm4IJTeEkhtCyQ2h5IZQchN6COwPuWnHtqc5lhvgMXkO5ab1Ngxn46f4ZHn0/KWXKZyGhHwgZ601anjFxvGOPSAXbc6HtndyKaWUUkoppWhL/gA8W92XIF47ywAAAABJRU5ErkJggg=="/>
                    </defs>
                </svg>
            </a>
            
        </nav>
    </header>
    {% with mensagens = get_flashed_messages(with_categories=True)%}
        {% if mensagens %}
            <div id="flash" class="alert-container">
                {% for categoria, mensagem in mensagens %}
                    <div class="alert-{{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            </div>
            
        {% endif %}
    {% endwith %}
    <script>
        // Remove mensagens após 5 segundos
        setTimeout(() => {
            const flashMessages = document.getElementById('flash');
            if (flashMessages) {
                flashMessages.style.transition = 'opacity 0.5s';
                flashMessages.style.opacity = '0';
                setTimeout(() => flashMessages.remove(), 500); // Remover do DOM após fade
            }
        }, 5000); // Tempo em milissegundos
    </script>
    <main>
        <section class="controle">
            <div id="criar" style="cursor: pointer;">
                <a>Criar</a>
            </div>
            <div class="area-pesquisa">
                <div class="pesquisar">
                    Pesquisar
                </div>
                <div class="barra-pesquisa">
                    <input type="text" name="" id="">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                            <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </button>
                </div>
            </div>
        </section>
        <!--Onde vai ficar os modais-->
        <section class="lista-pacotes">
            {% for pacote in registros%}
            <div style="display: flex; justify-content: space-between;">
                <div class="item">
                    <input type="checkbox">
                    <p>{{ pacote['title'] }}</p>
                </div>
                <div class="item-botoes">
                    <div id="editar">
                        <a>Editar</a>
                    </div>
                    <div id="deletar">
                        <a>Deletar</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </section>
    </main>
    {% include 'modais-admin/criar.html' %}
    {% include 'modais-admin/editar.html' %}
    {% include 'modais-admin/deletar.html' %}
    <script>
        // ACÔES PESQUISA
        var pesquisa = document.querySelector('.pesquisar');
        var barra = document.querySelector('.barra-pesquisa');
        pesquisa.addEventListener('click', ()=>{
            barra.classList.toggle('ativada');
            if(barra.classList.contains('ativada')){
                pesquisa.style.backgroundColor = '#000AC0';
                pesquisa.style.color = '#fff';
            }else{
                pesquisa.style.backgroundColor = '#e3e3e3';
                pesquisa.style.color = '#000';
            }
            
        })
        // Ações Edição e Deleção
        var spaneditar= document.getElementsByClassName('close');

        var editar = document.querySelectorAll('#editar');
        var modaleditar = document.querySelector('.modal--editar');

        var deletar = document.querySelectorAll('#deletar');
        var modaldeletar = document.querySelector('.modal--deletar');
        
        var itemBotoes = document.querySelectorAll('.lista-pacotes .item-botoes a');
        // Abrir Modal (EDITAR)
        function habilitarEdicao(event){
            event.preventDefault();
            modaleditar.style.display = 'block';
            console.log('abrindo modal'); 
        }
        // Abrir Modal (DELETE)
        function habilitarDelecao(){
            event.preventDefault();
            modaldeletar.style.display = 'flex';
            modaldeletar.style.flexDirection = 'column';
            modaldeletar.style.justifyContent = 'center';
            modaldeletar.style.alignItems = 'center';
        }
        function fecharModais(e){
            e.preventDefault();
            var modal = e.target.closest('.modal--criar, .modal--editar, .modal--deletar');
            if (modal) {
                modal.style.display = 'none';
                console.log('Fechando modal:', modal);
            }
        }
        // Fechar Modais
        for (let i = 0; i < spaneditar.length; i++) {
            spaneditar[i].addEventListener('click', fecharModais);
            
        }

        var checkbox = document.querySelectorAll('input[type=checkbox]');
        
        checkbox.forEach((item,i)=>{
            item.addEventListener('click', ()=>{
                
                if(item.checked){
                    for (let i = 0; i < itemBotoes.length; i++) {
                        itemBotoes[i].style.backgroundColor = '#000AC0';
                        itemBotoes[i].style.color = '#fff';
                        
                    }
                    
                    deletar[i].addEventListener('click', habilitarDelecao);
                    editar[i].addEventListener('click', habilitarEdicao);
                    console.log('checked',i);
                }else{
                    for (let i = 0; i < itemBotoes.length; i++) {
                        itemBotoes[i].style.backgroundColor = '#D9D9D9';
                        itemBotoes[i].style.color = '#000';
                        
                    }
                    deletar[i].removeEventListener('click', habilitarDelecao);
                    editar[i].removeEventListener('click', habilitarEdicao);
                    console.log('not checked')
                }
            })
        })
    </script>
    
    
</body>
</html>